<!-- Post, Page Content
================================================== -->
<div class="article-post">
  <!-- Toc if any -->
  {% if page.toc %}
    {% if page.beforetoc %}
      <p><em>{{page.beforetoc}}</em></p>
    {% endif %}
    <div class="toc mb-4 px-4 border rounded shadow">
      <p class="lead">Índice</p>
      {% include toc.html html=content ordered=true %}
    </div>
  {% endif %}
  <!-- End Toc -->
  <!-- Change src attribute in (markdown) content for lazyload -->
  {{ content | replace: ' src=', ' class="rounded" data-src=' }}
</div>
