<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Organization",
    "logo": "{{ site.url }}{{ site.baseurl }}/img/logo.png",
    "name": "{{ site.title }}",
    "description": "{{ site.description }}",
    "url": "{{ site.url }}/",
    "sameAs": [
      "https://www.instagram.com/ayelenbott/",
      "https://www.facebook.com/ayelenbott",
      "https://www.youtube.com/channel/UC7oWcuX_HAOnOqzn9-kyNFw"],
    "telephone": ["+549 294 154917110", "+549294154917110"],
    "address": {
      "@type": "PostalAddress",
      "postalCode": "8400",
      "addressLocality": "San Carlos de Bariloche",
      "addressRegion": "Río Negro",
      "addressCountry": "Argentina"
    },
/*
    "hasMap": "https://www.google.es/maps/place/Murcia/@37.9805272,-1.1621948,13z/data=!3m1!4b1!4m5!3m4!1s0xd6381f8d5928c7f:0xd627129b38c4ab9a!8m2!3d37.9922399!4d-1.1306544",
    "geo": {
      "@type": "GeoCoordinates",
      "latitude": "37.9928857",
      "longitude": "-1.1307564"
    },
*/
    "image": [
      "{{ site.url }}{{ site.baseurl }}/assets/img/servicios/ayelen.jpg",
      "{{ site.url }}{{ site.baseurl }}/assets/img/servicios/ayelen-joung.jpg",
      "{{ site.url }}{{ site.baseurl }}/assets/img/logo.png",
      "{{ site.url }}{{ site.baseurl }}/assets/img/logo-cuadrado.png",
      "{{ site.url }}{{ site.baseurl }}/assets/img/icono.jpg"]
  }
</script>