@font-face {
    font-family: "Alegreya-BoldItalic";
    src: url("/assets/fonts/alegreya.eot");
    src: url("/assets/fonts/alegreya.eot?#iefix") format("embedded-opentype"),
         url("/assets/fonts/alegreya.woff2") format("woff2"),
         url("/assets/fonts/alegreya.woff") format("woff"),
         url("/assets/fonts/alegreya.ttf") format("ttf"),
         url("/assets/fonts/alegreya.svg#Alegreya-BoldItalic") format("svg");
    font-style: normal;
    font-weight: 700;
}