@font-face {
    font-family: "BrandonGrotesque-Black";
    src: url("/assets/fonts/brandon.eot");
    src: url("/assets/fonts/brandon.eot?#iefix") format("embedded-opentype"),
         url("/assets/fonts/brandon.woff2") format("woff2"),
         url("/assets/fonts/brandon.woff") format("woff"),
         url("/assets/fonts/brandon.ttf") format("ttf"),
         url("/assets/fonts/brandon.svg#BrandonGrotesque-Black") format("svg");
    font-style: normal;
    font-weight: 900;
}