.
  ---
  layout: compress
  ---
  
doctype html
html(lang="es")
  | {% include head.html %}
  body#top(class='{{ layout }}')
    include includes/nav.pug
    include includes/header.pug
    main.text-center
      include includes/sobre.pug
      include includes/que.pug
      include includes/servicios.pug
      include includes/proyectos.pug
      include includes/blog.pug
      include includes/contacto.pug
  .
    {% include footer.html %}
    {% include btn-callnow.html %}
  .d-md-none.pb-4.bg-white