.
  ---
  layout: compress
  ---
  
doctype html
html(lang="es")
  | {% include head.html %}
  body#top(class='{{ layout }}')
    include includes/nav-clases.pug
    include includes/header-clases.pug
    main.text-center
      include includes/formacion-universitaria.pug
      include includes/capacitacion-empresarial.pug
      include includes/sobre-clases.pug
      include includes/testimonios.pug
      include includes/contacto.pug
  .
    {% include footer.html %}
    {% include btn-callnow.html %}
  .d-md-none.pb-4.bg-white