---
---

// Colors
$dorado: #CA9334;
$azulado: #382F39;
$negro: #404041;
$rojo: #EF4843;

$primary: $dorado;
  $percentage-darken-primary: 0%;
$secondary: $azulado;
$dark: $negro;
// $black: $negro;
$danger: $rojo;

// Fonts
$enable-responsive-font-sizes: true;
// font-family: "DINNextLTPro-Regular", sans-serif;
// font-family: "BrandonGrotesque-Black", sans-serif;
// font-family: "Alegreya-BoldItalic", serif;
$leads-font-family: "Alegreya-BoldItalic", serif;
$headings-font-family: "BrandonGrotesque-Black", sans-serif;
$font-family-sans-serif: "DINNextLTPro-Regular", sans-serif;
$leads-font-family-style: normal;
$headings-font-family-style: normal;
$font-family-sans-serif-style: normal;
$leads-font-family-weight: 700;
$headings-font-family-weight: 900;
$font-family-sans-serif-weight: regular;

// Other
$enable-rounded: true;
$border-radius: 0.5rem;
$btn-type-pill: true;

@import '../../../node_modules/bootstrap-scss/bootstrap';
@import '../../../node_modules/@fortawesome/fontawesome-free/css/svg-with-js';
@import 'custom-fonts';
@import 'memoirs';
@import 'smooth-scroll';
@import 'cookies-message';
@import 'scroll-show';
@import 'btn-up';
@import 'btn-callnow';
@import 'lazy-load';
@import 'modal';
@import 'custom';
@import 'landing';
@import 'header-animations';