@font-face {
  font-family: 'Alegreya';
  src: url('/assets/fonts/alegreya.eot');
  src: url('/assets/fonts/alegreya.eot?#iefix') format('embedded-opentype'),
       url('/assets/fonts/alegreya.otf') format('otf'),
       url('/assets/fonts/alegreya.woff2') format('woff2'),
       url('/assets/fonts/alegreya.woff') format('woff'),
       url('/assets/fonts/alegreya.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Brandon';
  src: url('/assets/fonts/brandon.eot');
  src: url('/assets/fonts/brandon.eot?#iefix') format('embedded-opentype'),
       url('/assets/fonts/brandon.otf') format('otf'),
       url('/assets/fonts/brandon.woff2') format('woff2'),
       url('/assets/fonts/brandon.woff') format('woff'),
       url('/assets/fonts/brandon.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Din';
  src: url('/assets/fonts/din.eot');
  src: url('/assets/fonts/din.eot?#iefix') format('embedded-opentype'),
       url('/assets/fonts/din.otf') format('otf'),
       url('/assets/fonts/din.woff2') format('woff2'),
       url('/assets/fonts/din.woff') format('woff'),
       url('/assets/fonts/din.ttf') format('truetype'),
       url('/assets/fonts/din.svg#DIN Next LT Pro Regular') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

// Headers weight
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-weight: 700;
}

// Headers blog colors
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  color: $secondary;
}

// Leads (subtitles)
.lead {
  font-family: $leads-font-family;
  font-weight: bold;
  font-style: italic;
  @include font-size(2rem);
  line-height: 1;
  margin-bottom: 2rem;
}

// Strong font family
b, strong {
  font-family: $headings-font-family;
}

// Font buttons
.btn:not(:disabled):not(.disabled) {
  // font-family: 'Brandon', sans-serif;
  line-height: 1.625rem;
  height: 2.375rem;
}
.btn:not(:disabled):not(.disabled).btn-lg {
  line-height: 2rem;
  height: 3rem;
}

// Contrast text color primary
.btn-primary, .btn-secondary, .btn-dark,
.bg-primary, .bg-secondary, .bg-dark {
  color: $light;
}

// Text logo size responsive
@media (max-width: 575px) {
  .sm-h4 {
    font-size: 1.5rem;
  }
}

// Color of onclick links and primary text
.text-primary,
span[onclick] {
  transition: all .3s ease-in-out;
  color: darken($primary, $percentage-darken-primary) !important;
}
a:not(.btn):hover,
a.text-primary:not(.btn):hover,
span[onclick]:not(.btn):hover {
  color: darken($primary, $percentage-darken-primary) !important;
  text-decoration: none;
}

// Buttons, badges and inputs rounded-circular
@if $btn-type-pill {
  .btn,
  .badge {
    @extend .rounded-pill;
  }
}
.badge {
  @extend .badge-pill;
  font-weight: normal;
}

// Code > pre rounded
.article-post code[class*="language-"],
.article-post pre[class*="language-"] {
  border-radius: $border-radius;
  overflow: hidden;
}

// Correct min-width in btn + badge
.related-posts.btn,
.btn-up,
.nav-link.btn {
  min-width: inherit !important;
}

// Badge avatar
.badge .author-thumb {
  width: 1em;
  border-radius: 50%;
}

// Correct featured-image dimensions
.featured-image {
  width: auto !important;
}

// Correct post date
.blog-grid-item .card > .post-date {
  border-radius: .5rem 0;
  // background-color: rgba(202, 147, 52, .5); // transparency($primary, .75);
}

// Correct the shadows
.shadow {
  box-shadow: 0 1px 0 1px rgba(0,0,0,0.07) !important
}

// Correct badge primary color
.related-posts .btn,
.smoothscroll.btn,
.badge-primary {
  color: $white !important;
  min-width: auto;
}

// Correct position of Font Awesome long icons
.fa-lg {
    transform: translateY(.0625rem);
}
@media screen and (min-width: 768px) {
  .callnow,
  .btn-up {
    .fa-lg {
        transform: none;
    }
  }
}

// Correct vertical-align of svg-inline--fa
.svg-inline--fa {
  vertical-align: 0;
  &.fa-lg {
    vertical-align: bottom;
  }
}
// Height in Font Awesome icons with fixed width and background rounded (like fa-stack)
[class*="rounded"] > .fa-fw {
  line-height: 1.25em !important;
  height: 1.25em !important;
}

// Extends
@media screen and (min-width: 992px) {
  .w-lg-100 {
    width: 100%;
  }
}

// Blog
.article-post {
  em {
    color: $primary;
    // color: lighten($primary, 20%);
    font-style: normal;
  }
  h2, h3, h4, h5, h6 {
    margin: 3rem 0 1rem;
  }
  & > ul, & > ol {
    margin: 2rem 0;
  }
  ul, ol {
    li:not(:last-child) {
      margin-bottom: .5rem;
    }
    ul, ol {
      li:first-child {
        margin-top: .5rem;
      }
    }
    br {
      content: " ";
      display: block;
      margin-bottom: .5rem;
    }
  }
  .toc ol {
    counter-reset: item;
    padding-left: 0;
    li{
      display: table;
    }
    li:before {
      content: counters(item, ".") ". ";
      counter-increment: item;
      display: table-cell;
      padding-right: .25rem;
    }
  }
  blockquote {
    padding-left: 2em;
    margin-left: 0;
    border: 0;
    color: #6c757d;
    // &:after,
    &:before {
      position: absolute;
      font-family: $headings-font-family;
      font-size: 4em;
      color: $primary;
      // color: lighten($primary, 20%);
    }
    &:before {
      content: '“';
      top: -.25em;
      left: -.125em;
    }
    // &:after {
    //   content: '”';
    //   bottom: -.75em;
    //   right: .25em;
    // }
    cite {
      display: block;
      text-align: right;
      margin-top: .5rem;
      color: $primary;
      // color: lighten($primary, 20%);
      &:before {
        content: '— ';
        color: #6c757d;
      }
    }
  }
}