section#capacitacion-empresarial.text-muted
  .container
    .row.justify-content-center
      .col-md-10.col-lg-8
        div(data-showup)
          h2.h1.text-uppercase Capacitación Empresarial
          .lead.text-primary Holi
        .row.justify-content-center.align-items-center(data-showup)
          .col-sm-6.col-md-5.order-sm-2.mb-3.mb-sm-0
            img.img-fluid(data-src='/assets/img/servicios/capacitacion.svg' alt='capacitacion empresarial' width='983' height='803')
          .col-sm-6.col-md-5
            p.text-sm-right Estimad@, puedo ser un puente entre el conocimiento técnico a transmitir y tu equipo, de modo tal que logres los cambios de mindset requeridos en tu grupo de trabajo ante los desafíos vigentes.
        .mt-5
          //- .d-flex.justify-content-center.mb-4
            i.fa.fa-fw.fa-3x.m-1.text-primary.fa-book
            i.fa.fa-fw.fa-3x.m-1.text-secondary.fa-arrow-right
            i.fa.fa-fw.fa-3x.m-1.text-primary.fa-chalkboard-teacher
            i.fa.fa-fw.fa-3x.m-1.text-secondary.fa-arrow-right
            i.fa.fa-fw.fa-3x.m-1.text-primary.fa-users
          //- .row.align-items-center.mb-5
            .col-sm-3: img(data-src='/assets/img/servicios/capacitacion-conocimiento.svg' alt='capacitacion conocimiento' width='500' height='500')
            .col.p-1.d-sm-none: i.fa.fa-3x.text-secondary.fa-arrow-down
            .col.p-1.d-none.d-sm-block: i.fa.fa-3x.text-secondary.fa-arrow-right
            .col-sm-4: img(data-src='/assets/img/servicios/capacitacion-puente.svg' alt='capacitacion puente' width='500' height='500')
            .col.p-1.d-sm-none: i.fa.fa-3x.text-secondary.fa-arrow-down
            .col.p-1.d-none.d-sm-block: i.fa.fa-3x.text-secondary.fa-arrow-right
            .col-sm-3: img(data-src='/assets/img/servicios/capacitacion-equipo.svg' alt='capacitacion equipo' width='500' height='500')
          //- img(data-src='/assets/img/servicios/capacitacion-puente.svg' alt='capacitacion puente' width='500' height='500')
          h4.h3.text-uppercase.mt-5.mb-4(data-showup) Modalidades
          .row
            .col-sm-6.mb-4(data-showup)
              .fa-stack.fa-3x
                i.fa.fa-circle.fa-stack-2x.text-secondary
                i.fa.fa-crosshairs.fa-stack-1x.text-white
              h5.text-uppercase.text-primary.mt-3.mb-2 Enfoque a objetivos específicos
              p Brindo capacitaciones personalizadas a partir de objetivos y directrices establecidos por la empresa.
            .col-sm-6.mb-4(data-showup)
              .fa-stack.fa-3x
                i.fa.fa-circle.fa-stack-2x.text-secondary
                i.fa.fa-chart-line.fa-stack-1x.text-white
              h5.text-uppercase.text-primary.mt-3.mb-2 Programas estadísticos y financieros 
              p Destinados a adquirir y actualizar contenidos con el fin de mejorar la performance laboral y las habilidades comunicativas del equipo basadas en el conocimiento científico.
          div(data-showup)
            p.lead.text-secondary ¡Consultame!
            .mt-4
              a.btn.btn-lg.btn-primary.m-1.pl-2(href='#contacto' data-dismiss='modal')
                i.fa.fa-lg.text-secondary.fa-paper-plane
                |  Contacto