section#contacto.bg-secondary
  .container
    h2.h1.text-uppercase.mb-5 Contacto
    //- p.lead ¡Con gusto atenderé tu consulta!
    //- p
      i.fa.fa-fw.fa-calendar.text-primary
      |  Lunes a Viernes
      br
      i.fa.fa-fw.fa-clock.text-primary
      |  9:00 a 12.30 y 14:30 a 20:00
      br
      i.fa.fa-fw.fa-map-marker-alt.text-primary
      |  San Carlos de Bariloche, Río Negro
    //- p.text-light.mb-4 Contacta sin compromiso. Puedes hacerlo mediante WhatsApp o email tocando el botón correspondiente<!--, o también mediante el formulario de contacto-->. Te responderemos lo antes posible.
    p
      a.btn.btn-primary.btn-lg(href='https://api.whatsapp.com/send?phone=542944917110' target='_blank' title='¡Pulsa y envia un WhatsApp!')
        i.fab.fa-whatsapp.fa-lg.text-secondary
        |  +54 294 4917110
    p
      a.btn.btn-outline-light.btn-lg(href='tel:+542944917110' title='¡Pulsa y llama!')
        i.fa.fa-phone.fa-lg.text-primary
        |  +54 294 4917110
    p
      a.btn.btn-light.text-secondary(href!='&#x6D;&#x61;&#x69;&#x6C;&#x74;&#x6F;&#x3A;{{site.email}}' title='¡Pulsa y envia un email!')
        i.fa.fa-envelope.fa-lg.text-primary
        |  {{site.email}}
    p
      a.btn.btn-outline-light.m-1.btn-lg(href='https://www.instagram.com/ayelenbott/' target='_blank' title='Instagram')
        i.fab.fa-lg.fa-instagram.text-primary
        |  ayelenbott
    //- h3.lead.mt-5.mb-3
      | Sígueme 
      i.fa.fa-heart.text-primary
    //- .d-flex.justify-content-center.mt-5
      a.m-1(href='https://www.instagram.com/ayelenbott/' title='Instagram')
        i.fab.fa-instagram.fa-3x.text-primary
      a.m-1(href='https://www.facebook.com/BottariIE' title='Facebook')
        i.fab.fa-facebook.fa-3x.text-primary
      a.m-1(href='https://www.youtube.com/channel/UC7oWcuX_HAOnOqzn9-kyNFw' title='Youtube')
        i.fab.fa-youtube.fa-3x.text-primary
    //- form#contactForm(name='sentMessage' novalidate)
      .row
        .col-md-6
          .form-group
            input.form-control#name(type='text' placeholder='Nombre *' required data-validation-required-message='Por favor introduce tu nombre.')
            p.help-block.text-danger
        .col-md-6
          .form-group
            input.form-control#email(type='email' placeholder='Email *' required data-validation-required-message='Por favor introduce tu email.')
            p.help-block.text-danger
        .col-md-12
          .form-group
            textarea.form-control#message(placeholder='Mensaje *' required data-validation-required-message='Por favor introduce un mensaje.' rows='6')
            p.help-block.text-danger
        .clearfix
        .col-lg-12
          #success
          button#sendMessageButton.btn.btn-primary.btn-xl.text-uppercase.w-100(type='submit') Enviar