section#formacion-universitaria.bg-white.text-muted
  .container
    .row.justify-content-center
      .col-md-10.col-lg-8
        div(data-showup)
          h2.h1.text-uppercase Formación Universitaria
          .lead.text-primary Holi
        .row.justify-content-center.align-items-center(data-showup)
          .col-sm-6.col-md-5.order-sm-2.mb-3.mb-sm-0
            img.img-fluid(data-src='/assets/img/servicios/formacion.svg' alt='formacion universitaria' width='983' height='803')
          .col-sm-6.col-md-5
            p.text-sm-right Querid@ alumn@, de mi mano podrás aprender e incorporar el conocimiento que necesitás para aprobar tus exámenes y lograr tus metas universitarias. El proceso será:
        .row.mt-5(data-showup)
          .col-lg-6.text-left.text-lg-right
            .d-flex.mb-3.justify-content-lg-end
              .text-secondary.mx-2.order-lg-2
                i.fa.fa-fw.fa-3x.fa-clock
              div
                h4.text-uppercase.text-primary.mb-1 Rápido
                p.mb-0 En pocas horas
            .d-flex.mb-3.justify-content-lg-end
              .text-secondary.mx-2.order-lg-2
                i.fa.fa-fw.fa-3x.fa-check-circle
              div
                h4.text-uppercase.text-primary.mb-1 Simple
                p.mb-0 De manera clara y metódica
            .d-flex.mb-3.justify-content-lg-end
              .text-secondary.mx-2.order-lg-2
                i.fa.fa-fw.fa-3x.fa-wallet
              div
                h4.text-uppercase.text-primary.mb-1 Económico
                p.mb-0 Acorde a tu economía universitaria
          .col-lg-6.text-left
            .d-flex.mb-3
              .text-secondary.mx-2
                i.fa.fa-fw.fa-3x.fa-trophy
              div
                h4.text-uppercase.text-primary.mb-1 Efectivo
                p.mb-0 90% de aprobados en sus exámenes con buenas y muy buenas calificaciones
            .d-flex.mb-3
              .text-secondary.mx-2
                i.fa.fa-fw.fa-3x.fa-times-circle
              div
                h4.text-uppercase.text-primary.mb-1 Sin requisitos
                p.mb-0 Sin requisitos previos: ¡No necesitás saber el contenido con antelación!
        h4.h3.text-uppercase.mt-5.mb-4(data-showup) Modalidades
        .row
          .col-sm-6.mb-4(data-showup)
            .fa-stack.fa-3x
              i.fa.fa-circle.fa-stack-2x.text-secondary
              i.fa.fa-chalkboard-teacher.fa-stack-1x.text-white
            h5.text-uppercase.text-primary.mt-3.mb-2 Clases en vivo
            p Se caracterizan por ser:
            ul.list-group.list-group-flush.text-left.d-table.mx-auto
              li.list-group-item
                i.fa.fa-fw.fa-check.text-primary
                |  Individuales o en grupos reducidos
              li.list-group-item
                i.fa.fa-fw.fa-check.text-primary
                |  De 1 hora de duración
              li.list-group-item
                i.fa.fa-fw.fa-check.text-primary
                |  Con el material de estudio incluído
          .col-sm-6.mb-4(data-showup)
            .fa-stack.fa-3x
              i.fa.fa-circle.fa-stack-2x.text-secondary
              i.fa.fa-desktop.fa-stack-1x.text-white
            h5.text-uppercase.text-primary.mt-3.mb-2 Entrenamientos virtuales
            p Cada entrenamiento contiene:
            ul.list-group.list-group-flush.text-left.d-table.mx-auto
              li.list-group-item
                i.fa.fa-fw.fa-check.text-primary
                |  Un video explicativo del tema
              li.list-group-item
                i.fa.fa-fw.fa-check.text-primary
                |  Contenido y ejercitación resuelta
              li.list-group-item
                i.fa.fa-fw.fa-check.text-primary
                |  Un test de Autoevaluación
        div(data-showup)
          p Puedo asesorarte sobre la opción de aprendizaje óptima a tomar, acorde a tu objetivo 
          p.lead.text-secondary ¡Contame!
          .mt-4
            a.btn.btn-lg.btn-primary.m-1.pl-2(href='#contacto' data-dismiss='modal')
              i.fa.fa-lg.text-secondary.fa-paper-plane
              |  Contacto