header#clases.bg-secondary.bg-bott.py-5.d-flex.flex-column.justify-content-center.align-items-center.overflow-hidden
  .container.py-5.mt-md-3.text-center
    h1.text-white.mt-4.mt-lg-5
      #profesora.mb-3
        .lead.mb-2.d-none Profesora de 
        .text-uppercase Clases Particulares
        .d-none  de 
      .h4.text-white.text-uppercase
        .m-0
          .badge.m-1
            i.fa.fa-fw.text-primary.mr-1.fa-square-root-alt
            |  Matemáticas
          .d-none , 
          .badge.m-1
            i.fa.fa-fw.text-primary.mr-1.fa-chart-pie
            |  Estadística
          .d-none  y 
          .badge.m-1
            i.fa.fa-fw.text-primary.mr-1.fa-chart-line
            |  Finanzas
        .m-0
          .badge.m-1
            i.fa.fa-fw.text-primary.mr-1.fa-globe
            |  Online
          .d-none  y 
          .badge.m-1
            i.fa.fa-fw.text-primary.mr-1.fa-map-marker-alt
            |  Presenciales
    .mt-4
      a.btn.btn-lg.btn-primary.m-1(href='#formacion-universitaria')
        i.fa.fa-fw.text-secondary.mr-1.fa-chalkboard-teacher
        |  Universitarios
      a.btn.btn-lg.btn-primary.m-1(href='#capacitacion-empresarial')
        i.fa.fa-fw.text-secondary.mr-1.fa-crosshairs
        |  Empresas
    //- a.btn.btn-primary.btn-lg.text-uppercase(href='#sobre') ✚ Más

