section#proyectos.bg-secondary
  .container
    div(data-showup)
      h2.h1.text-primary.text-uppercase Proyectos
      p.lead ¡Pasión en acción!
    .row
      .col-sm.d-flex.flex-column.my-4.my-sm-0(data-showup)
        //- .rounded-circle.bg-primary.d-inline-block.p-3
          i.fa.fa-fw.fa-3x.fa-cog
        //- img.img-fluid.mt-4(data-src='/assets/img/servicios/rueda-conocimiento.svg' alt='la rueda del conocimiento' width='1036' height='567')
        img.img-fluid.mt-4(data-src='/assets/img/servicios/reading.svg' alt='reading' width='1036' height='567')
        h3.text-white.mt-3 La Rueda del Conocimiento
        a.btn.btn-lg.btn-primary.mx-auto.mt-auto(data-toggle='modal' href='#la-rueda-del-conocimiento') ✚ Más
        .modal#la-rueda-del-conocimiento(tabindex='-1' role='dialog' aria-hidden='true')
          .modal-dialog.modal-lg(role='document')
            .modal-content
              .modal-body.py-5.px-lg-5
                button.close(type='button' data-dismiss='modal' aria-label='Cerrar') ✖
                p.h2.text-uppercase.mb-4 La Rueda del Conocimiento
                .embed-responsive.embed-responsive-16by9.rounded
                  iframe.embed-responsive-item(data-src='https://www.youtube.com/embed/d0knXPFAKMc' allowfullscreen width='100%' height='56.25%')
                .text-justify
                  blockquote.mx-auto.my-5.border-0.p-3.bg-white.rounded.shadow.d-flex
                    i.fa.text-secondary.fa-quote-left
                    .text-muted.p-2
                      p El conocimiento fluye y se desplaza de un lugar a otro, de las palabras al papel, del papel al pensamiento y de éste nuevamente a las palabras, o en cualquier otro orden, pero siempre está en movimiento.
                      p La rueda del conocimiento es un sistema de intercambio del conocimiento, a través del cual las personas que intervienen, reciben y comparten saber en sus distintas formas.
                      p El objetivo del proyecto es conectar a las personas con el saber, a través de diversos canales e interviniendo en los diferentes estados del mismo, generando posibilidades para todos aquellos que quieran ingresar y/o continuar en el camino del conocimiento.
                    i.fa.text-secondary.fa-quote-right.align-self-end
                h4.text-uppercase.mt-5.mb-4 Lo recorrido hasta aquí
                .row.text-muted.text-left.mx-auto
                  .col-2.p-0.d-flex.flex-column
                    .badge.badge-secondary.mx-auto 2018
                    .badge.badge-secondary.my-1.mx-auto 2019
                    .h-100.pl-1.mx-auto.bg-primary
                  .col-10
                    p Iniciativa “Un libro x una clase”
                    p.text-secondary ✚
                    p Donaciones de libros recibidas
                    hr.bg-secondary
                    p La Rueda cuenta con más de 1000 libros :)
                  .col-2.p-0.d-flex.flex-column
                    .badge.badge-secondary.my-1.mx-auto 2020
                    .h-100.pl-1.mx-auto.bg-primary
                  .col-10
                    p.h2 -
                    p Pandemia
                    hr.bg-secondary
                    p La Rueda conecta a los libros recibidos con lectores de la ciudad de Rosario (Santa Fe) y lugares aledaños
                  .col-2.p-0.d-flex.flex-column
                    .badge.badge-secondary.mt-1.mx-auto 2021
                  .col-10
                    p ¡¿Alguien se atreve a hablar del próximo año?!
                    p La intención es continuar con las actividades que se han llevado a cabo hasta ahora.
                .mt-5
                  h4.lead ¿Cómo podés ser parte de la iniciativa?
                  .row
                    .col-lg.mb-3.text-sm-left.text-lg-center.mx-sm-4.mx-lg-0
                      .rounded-circle.bg-primary.d-inline-block.p-4.float-sm-left.float-lg-none.mr-sm-4.mr-lg-0
                        i.fa.fa-fw.fa-3x.text-white.fa-exchange-alt
                      h5.h4.text-uppercase.mt-3 Intercambio
                      p.text-muted Tomando o dando una clase a cambio de un libro
                    .col-lg.mb-3.text-sm-left.text-lg-center.mx-sm-4.mx-lg-0
                      .rounded-circle.bg-primary.d-inline-block.p-4.float-sm-left.float-lg-none.mr-sm-4.mr-lg-0
                        i.fa.fa-fw.fa-3x.text-white.fa-gift
                      h5.h4.text-uppercase.mt-3 Donación
                      p.text-muted Ese libro que ya leiste puede seguir sorprendiendo. ¡Donalo!
                    .col-lg.mb-3.text-sm-left.text-lg-center.mx-sm-4.mx-lg-0
                      .rounded-circle.bg-primary.d-inline-block.p-4.float-sm-left.float-lg-none.mr-sm-4.mr-lg-0
                        i.fa.fa-fw.fa-3x.text-white.fa-hands-helping
                      h5.h4.text-uppercase.mt-3 Voluntariado
                      p.text-muted Participando en actividades de promoción de lectura
                .mt-4.text-muted ¡Seguí las novedades en <a href="https://www.instagram.com/sabernosacerca/" target='_blank'>@sabernosacerca</a> y súmate a la iniciativa!
                .mt-4
                  a.btn.btn-lg.btn-secondary.m-1(href='https://www.instagram.com/sabernosacerca/' target='_blank')
                    i.fab.fa-lg.text-primary.fa-instagram
                    |  sabernosacerca
                  a.btn.btn-lg.btn-primary.m-1.pl-2(href='#contacto' data-dismiss='modal')
                    i.fa.fa-lg.text-secondary.fa-paper-plane
                    |  Contacto
                  button.btn.btn-lg.btn-secondary.m-1(type='button' data-dismiss='modal') ✖ Cerrar
      .col-sm.d-flex.flex-column(data-showup)
        //- .rounded-circle.bg-primary.d-inline-block.p-3
          i.fa.fa-fw.fa-3x.fa-pen
        img.img-fluid.mt-4(data-src='/assets/img/servicios/blogging.svg' alt='blogging' width='1036' height='567')
        h3.text-white.mt-3 Blogging
        a.btn.btn-lg.btn-primary.mx-auto.mt-auto(href='/blog/') ✚ Más