section#sobre
  .container
    .row.justify-content-center
      .col-12
        h2.h1.text-primary.text-uppercase Sobre mí
        p.lead.text-muted Ratona de biblioteca
      .col-md-3.mb-4
        img.img-thumbnail.rounded-circle(data-src='{{ site.baseurl }}/assets/img/servicios/ayelen-joung.jpg' alt='Ayelen niña' height='225' width='225')
      .col-md-6.text-justify.mb-4.m-md-0
        p ¡Hola! Me llamo <strong>Ayelén Bottari</strong>, nací el 01 de Agosto de 1986 y desde entonces vivo apasionadamente, con profundo sentido de la vida  y con alegría. Curiosa por naturaleza, me intereso cada día por ser mejor y aprender de todo lo que se presente ante mí: libros, personas y experiencias.
        p Adjudico parte de los conocimientos adquiridos a mi oficio de ratón de biblioteca. También estudié Ing. Civil y actualmente estoy formándome como Licenciada en Cs. de la Educación.
        p Comencé a dar clases particulares a alumnos universitarios en el año 2010 y lo que comenzó como un juego se convirtió en un emprendimiento que llevo a cabo formalmente desde 2017.
        .text-center.mt-4
          .badge.badge-lg.badge-secondary.mx-1.mb-1
            span.text-primary #
            | claridad
          .badge.badge-lg.badge-secondary.mx-1.mb-1
            span.text-primary #
            | precisión
          .badge.badge-lg.badge-secondary.mx-1.mb-1
            span.text-primary #
            | simpleza
          .badge.badge-lg.badge-secondary.mx-1.mb-1
            span.text-primary #
            | eficacia
          .badge.badge-lg.badge-secondary.mx-1.mb-1
            span.text-primary #
            | calidez
      .col-md-3
        img.img-thumbnail.rounded-circle(data-src='{{ site.baseurl }}/assets/img/servicios/ayelen.jpg' alt='Ayelen' height='225' width='225')