section#sobre.bg-white
  .container
    .row.justify-content-center
      .col-12(data-showup)
        h2.h1.text-primary.text-uppercase Profesora
        p.lead.text-muted Ayelén Bott
      .col-md-3.mb-4.m-md-0(data-showup)
        img.img-thumbnail.rounded-circle(data-src='{{ site.baseurl }}/assets/img/servicios/ayelen.jpg' alt='Ayelen' height='225' width='225')
      .col-md-6.text-justify.text-md-left(data-showup)
        p.m-0 ¡Hola! Me llamo <strong>Ayelén Bottari</strong>. Comencé a dar clases particulares a alumnos universitarios en el año 2010 y lo que comenzó como un juego se convirtió en un emprendimiento que llevo a cabo formalmente desde 2017...
        .text-center.text-md-left.mt-3
          .mb-5
            a.btn.btn-lg.btn-secondary(href='/#sobre') ✚ Más
          .badge.badge-lg.badge-secondary.m-1
            span.text-primary #
            | claridad
          .badge.badge-lg.badge-secondary.m-1
            span.text-primary #
            | precisión
          .badge.badge-lg.badge-secondary.m-1
            span.text-primary #
            | simpleza
          .badge.badge-lg.badge-secondary.m-1
            span.text-primary #
            | eficacia
          .badge.badge-lg.badge-secondary.m-1
            span.text-primary #
            | calidez