section#testimonios.bg-dark.text-light.py-5
  .container
    .row.py-5.mt-4
      .col-12
        h2.h1.text-uppercase Testimonios
        p Esto es lo que dicen sobre nosotros
      .col-md-6.py-4
        .row
          .col-sm-4.pb-3
            i.text-muted.d-block.mx-auto.fa.fa-5x.fa-clock
          .col-sm-8.text-sm-left
            h3.mb-3.text-primary Velocidad
            p Al ser un sistema ligero y de código limpio, la velocidad de carga es muy rápida.
      .col-md-6.py-4
        .row
          .col-sm-4.pb-3
            i.text-muted.d-block.mx-auto.fa.fa-5x.fa-lock
          .col-sm-8.text-sm-left
            h3.mb-3.text-primary Seguridad
            p Al carecer de bases de datos, sistemas de login y CMS populares, se reducen las posibilidades de hackeos.
      .col-md-6.py-4
        .row
          .col-sm-4.pb-3
            i.text-muted.d-block.mx-auto.fa.fa-5x.fa-smile-wink
          .col-sm-8.text-sm-left
            h3.mb-3.text-primary Sin Mantenimiento
            p No es necesario entrar al CMS cada cierto tiempo para actualizar éste, ni sus temas ni plugins.
      .col-md-6.py-4
        .row
          .col-sm-4.pb-3
            i.text-muted.d-block.mx-auto.fa.fa-5x.fa-money-bill-wave
          .col-sm-8.text-sm-left
            h3.mb-3.text-primary Hosting Gratuito
            p
              | Te ofrecemos almacenamiento del sitio web en nuestro propio servidor 
              strong gratis durante los 3 primeros años
              | , ahorrándote más de 80 €/año.