section#testimonios.bg-primary
  .container
    .row
      .col-12(data-showup)
        h2.h1.text-uppercase Testimonios
        .lead Lo que dicen de mi
      .col-md-4.py-2(data-showup)
        img.img-fluid.img-thumbnail.rounded(data-src='/assets/img/servicios/testimonio-1.jpg' alt='testimonio ayelén bott 1' width='1080' height='1080' onclick="location.href='/assets/img/servicios/testimonio-1.jpg'")
      .col-md-4.py-2(data-showup)
        img.img-fluid.img-thumbnail.rounded(data-src='/assets/img/servicios/testimonio-2.jpg' alt='testimonio ayelén bott 2' width='540' height='540' onclick="location.href='/assets/img/servicios/testimonio-2.jpg'")
      .col-md-4.py-2(data-showup)
        img.img-fluid.img-thumbnail.rounded(data-src='/assets/img/servicios/testimonio-3.jpg' alt='testimonio ayelén bott 3' width='536' height='536' onclick="location.href='/assets/img/servicios/testimonio-3.jpg'")