---
layout: compress
---
<!DOCTYPE html>
<html lang="es">

{% include head.html %}

{% capture layout %}{% if page.layout %}layout-{{ page.layout }}{% endif %}{% endcapture %}

<body id="top" class="layout-blog {{ layout }}">

<div class="d-flex flex-column">
  <!-- Before div flexbox and after div order-2 for put the menú first -->

  <div class="site-content {% if page.url == '/blog/' %}firstpage{% endif %} order-2 mb-5 pb-5">

    <div class="container pt-5">

      <!-- Site Logo/Name -->

      {% if page.url == '/blog/' %}<h1 class="sitetag">{% else %}<div class="sitetag">{% endif %}
        <a href="/blog/">
          <span class="d-block h4 text-uppercase">Blog personal de </span>
          <span class="d-block lead">Ayelén Bott</span>
        </a>
      {% if page.url == '/blog/' %}</h1>{% else %}</div>{% endif %}

      {% if paginator.page > 1 %}
        <h1 class="sitetag">
          <a class="text-secondary" href="/blog/">Página {{paginator.page}} de {{paginator.total_pages}}</a>
        </h1>
      {% endif %}

      <!-- Content -->
      <div class="main-content">
        {{ content }}
      </div>
      
      {% include newsletter.html %}

    </div> <!-- /.container -->

  </div> <!-- /.site-content -->

  {% include menu.html %}

</div>

{% include footer.html %}

</body>
</html>